:root {
  --primary-color: #028f76;
  --secondary-color: #1c2130;
  --highlight-color: #F7941F;
  --light-green: #D1E7DD;
  --dark-green: #C7DBD2;
  --shadow-color: rgba(26, 30, 27, 0.51);
  --font-family: "Roboto", serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  height: 100vh;
  min-height: fit-content;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  min-height: fit-content;
  background-color: rgba(25, 135, 84, 0.03);
  box-shadow: 0px 0px 13px 8px var(--shadow-color);
}

.btn {
  background-color: var(--primary-color);
  border: none;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  background-color: var(--primary-color) !important;
}

.btn.show {
  background: none !important;
}

.titulo {
  font-size: 42px;
  margin: 40px 0;
  color: #b3e099;
  font-weight: 800;
  text-align: center;
}


.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin: 7px 0;
}

#btnDropdown {
  padding: 0;
  color: rgb(225, 225, 225);
  background: none !important;
  margin-right: 5px !important;
  font-size: 14px !important;
}

#btnDropdown:hover {
  background: none !important;
}

.dropdown-item:hover {
  background-color: var(--primary-color);
}

.table {
  width: 70% !important;
  margin: 5px 0 !important;
}

.row-item:nth-child(odd) {
  background-color: var(--light-green);
}

.row-item:nth-child(even) {
  background-color: var(--dark-green);
}

.list {
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.list::-webkit-scrollbar-track {
  background: var(--primary-color);
}

.list::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
  border-radius: 2px;
}

@media only screen and (max-width: 1023px) {
  .form {
    flex-direction: column;
  }

  .table,
  .list {
    height: 55vh !important;
  }
}

@media screen and (max-width: 768px) {
  .dropdown {
    width: 90%;
    margin-bottom: 0 !important;
  }

  .table {
    min-width: 90% !important;
  }
}

@media screen and (max-width: 425px) {
.row-item{
  font-size: 13px !important;
}
.btn	{
  margin: 0 !important;
}
.btn i {
  font-size: 13px !important;
}
}
